:host {
    display: block;
}

mat-card {
    margin: 1rem;
    width: 350px;
    background-color: #eee;
}

mat-card-content {
    text-align: center;
}

mat-card-actions {
    text-align: center;
}

mat-form-field {
    width: 100%;
    padding-top: 1rem;
}

.active {
    color: #329b32;
}

.inactive {
    color: #f85050;
}

// div {
//     width: 200px;
//     height: 200px;
//     // background-color: #ccc;
// }








