<!-- <app-quote (click)="isFavorite = !isFavorite"
           [ngStyle]="{'width.px': isFavorite ? 600 : 400}"
           [ngClass]="{ 'favorite super-favorite': isFavorite }"></app-quote>

<button (click)="showBoring = !showBoring"
        class="btn btn-primary">Show boring quotes</button>

<app-quote class="favorite"></app-quote>

<app-quote class="moderate"></app-quote>

<div *ngIf="showBoring"
     class="boring">
    <app-quote></app-quote>
</div> -->


<div class="container">

        <!-- TEST TO CHECK IF WORKING AND IS WORKING! -->
        <mat-card (click)="markedTest = !markedTest"
                  @fade
                  style="margin: auto"
                  [@markedState]="markedTest === true ? 'marked' : 'default'"
                  style="width: 200px; height: 200px;">
        </mat-card>


        <!-- ORIGINAL WAY I WANTED IT NOT WORKING -->
        <app-mat-card *ngFor="let course of courses; let i = index"
                      @fade
                      (click)="markedPrjIndex = i"
                      [@markedState]="markedPrjIndex === i ? 'marked' : 'default'"
                      (deletedCourse)="deleteCourse($event)"
                      [course]="course"></app-mat-card>

        <!-- <app-mat-card *ngFor="let course of courses; let i = index"
                      @fade
                      (click)="markedPrjIndex = i"
                      (deletedCourse)="deleteCourse($event)"
                      [course]="course"></app-mat-card> -->
</div>
