<!-- <app-quote (click)="isFavorite = !isFavorite"
           [ngStyle]="{'width.px': isFavorite ? 600 : 400}"
           [ngClass]="{ 'favorite super-favorite': isFavorite }"></app-quote>

<button (click)="showBoring = !showBoring"
        class="btn btn-primary">Show boring quotes</button>

<app-quote class="favorite"></app-quote>

<app-quote class="moderate"></app-quote>

<div *ngIf="showBoring"
     class="boring">
    <app-quote></app-quote>
</div> -->


<div class="container">

        <!-- <button mat-raised-button
                (click)="width = width - 50"
                color="accent">
                Shrink
        </button>
        <button mat-raised-button
                (click)="animate = true"
                color="warn">
                Animate me
        </button>
        <p [@animateState]="animate ? 'animated' : 'noAnimation'"
           [ngStyle]="{'width.px': width}">Shrink me</p> -->


        <!-- TEST TO CHECK IF WORKING AND IS WORKING! -->
        <!-- <div fxLayout="row"
             fxLayoutAlign="center">
                <mat-card *ngFor="let card of cards; let i = index"
                          fxLayout="column"
                          fxLayoutAlign="center center"
                          (click)="markedCards = i"
                          @itemState
                          [@markedState]="markedCards === i ? 'marked' : 'default'"
                          style="width: 200px; height: 200px;margin: 10px;">
                        <button (click)="deleteCards(i)"
                                mat-raised-button>Delete</button>
                </mat-card>
        </div> -->

        <div fxLayout="column"
             fxLayoutAlign="center center">
                <button (click)="createNew = true"
                        *ngIf="!createNew"
                        mat-raised-button>Create new Project
                </button>
                <button (click)="createNew = false"
                        *ngIf="createNew"
                        color="warn"
                        mat-raised-button>Cancel
                </button>
        </div>

        <div *ngIf="createNew"
             fxLayout="column"
             fxLayoutAlign="center center">

                <div>

                </div>

                <form [formGroup]="newCourseForm"
                      (ngSubmit)="addCourse()">
                        <mat-form-field appearance="outline">
                                <mat-label>Title</mat-label>
                                <input type="text"
                                       matInput
                                       formControlName="title">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                                <mat-label>Status</mat-label>
                                <mat-select formControlName="status">
                                        <mat-option value="Active">Active</mat-option>
                                        <mat-option value="InActive">InActive</mat-option>
                                </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <input type="text"
                                       matInput
                                       formControlName="description">
                        </mat-form-field>

                        <div style="text-align: center;">
                                <button mat-raised-button>Submit</button>
                        </div>
                </form>
        </div>


        <!-- ORIGINAL WAY I WANTED IT NOT WORKING -->

        <div fxLayout="column"
             fxLayoutAlign="start center">
                <app-mat-card *ngFor="let course of displayedCourses; let i = index"
                              @itemState
                              (@itemState.done)="onItemAnimated($event, i)"
                              (click)="markedPrjIndex = i"
                              (deletedCourse)="deleteCourse(i)"
                              [course]="course"></app-mat-card>
        </div>

        <!-- <app-mat-card *ngFor="let course of courses; let i = index"
                      @fade
                      (click)="markedPrjIndex = i"
                      (deletedCourse)="deleteCourse($event)"
                      [course]="course"></app-mat-card> -->
</div>
