<form [formGroup]="newCourseForm"
      (ngSubmit)="addCourse()">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input type="text"
               matInput
               formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="InActive">InActive</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input type="text"
               matInput
               formControlName="description">
    </mat-form-field>

    <div style="text-align: center;">
        <button color="warn"
                (click)="onCancel()"
                type="button"
                mat-raised-button>Cancel
        </button>
        <button type="submit"
                mat-raised-button>Submit
        </button>
    </div>
</form>
